Django>=1.8.5
Unipath
django-simple-history
python-dateutil
pytz
django-crypto-fields
django-revision
-e git+https://github.com/botswana-harvard/edc-base@develop#egg=edc_base
-e git+https://github.com/botswana-harvard/getresults@develop#egg=getresults
-e git+https://github.com/botswana-harvard/getresults-receive@develop#egg=getresults_receive
-e git+https://github.com/botswana-harvard/getresults-aliquot@develop#egg=getresults_aliquot
-e git+https://github.com/botswana-harvard/getresults-identifier@develop#egg=getresults_identifier
-e git+https://github.com/botswana-harvard/getresults-order@develop#egg=getresults_order
-e git+https://github.com/botswana-harvard/getresults-result@develop#egg=getresults_result
-e git+https://github.com/botswana-harvard/getresults-patient@develop#egg=getresults_patient
-e git+https://github.com/botswana-harvard/getresults-sender@develop#egg=getresults_sender
